@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,600;0,900;1,600&family=Rowdies:wght@700&display=swap');

/*NAV BAR*/
*{
    margin: 0;
    padding: 0;
}
html, body {
  overflow-x: hidden;
  background-color: white;
  scroll-behavior: smooth;
}
body {
  position: relative
}

.slideheight{
  width: 100%;
}
.float{
  position: absolute;
  top: -40vh;
}
.floattext{
color: white;
font-size: 10vh;
font-weight: 800px;
font-family: rowdies;
}
.slide{
    height: 80vh;
    width: 100vw;
    margin: auto;
    object-fit: cover;
    opacity: 0.6;
}

.title {
  font-size: 6vh;
  color: white;
  display: inline-block;
  text-align: center;
  padding-right: 20vw;
}

.title .ltr {
 
  animation: fade-in 500ms ease-in var(--delay);
}

@keyframes fade-in {
  to {
background-color: black;
color: white;

  }
}
.title .ltr.show {
  font-weight: 900;
  color:#ff5047 ;
  
}






#nav{
  text-align: center;
  position: relative;
  top: 0vh;
 
}
.white{
  color: black;
}
.white:hover{
  color: #ff5047;
}
.desktop-nav{
  
  display: inline-block;
  margin-right: 3vw;
  font-size: 3vh;
  font-weight: 700;
  font-family: rowdies;
  padding: 15px;
  border-radius: 30px;
}

.desktop-nav:hover{
  color: #ff5047;
}
a{
    text-decoration: none;
   
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
#burger{
  float: right;
  height: 20px;
  width: 20px;
  padding-right: 3vw;
  padding-top: 1vh ;
  display: none;

}
#burgerimg{
  object-fit: cover;
  height: 30px;
  width: 30px;
}

    #myHeader{
      display: block;
      background-color: white;
      box-shadow: 0px 0px 43px 17px rgba(153,153,153,1);
    } 
#home{
    display: grid;
    grid-template-columns: auto auto;
}
#hometext{
    font-weight: 800;
    font-size: 5vh;
    text-align: center;
    font-family: rowdies;
    padding-top: 50vh;
    padding-left: 40vh;
    position: absolute;
    z-index: 10;
  }
 

          /*SKILLS*/
  #SKILLS{
      width: 100%;
      height: 80vh;
   
      background-size: contain;
  }
  #skillstext{
      padding: 5vh;
      font-size: 5vh;
  }
  #skillsheading{
    background-color: transparent;
      text-align: center;
      color: #ff5047;
      font-family: rowdies;
      font-weight: 700;
      border: 0px solid;
  }

                     /*HOME*/
  #div1{
      margin-bottom: 5vh;
  }
  #progressbar{
      display: grid;
      justify-content: center;
      width: 100%;
  }
  .progress {
    position: relative;
    width: 30vw;
    height: 3vh;
    background: black;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 3vh;
  }
  .skillcenter{
    background-color: whitesmoke;
    height: 60vh;
    width: 60%;
    margin-left: 20%;
    position: relative;
    border-radius: 5%;
  }
  
  .progress__fill1 {
    width: 95%;
    height: 100%;
    background: #ff5047;
    animation: prog1 8s ease-in-out infinite;
  }
  @keyframes prog1 {
    0%{
         width: 0%;
    }
    60%{
      width: 95%;
    }
    100%{
        width: 95%;
    }  
}
.progress__fill2 {
  width: 40%;
  height: 100%;
  background: #ff5047;
  animation: prog2 8s ease-in-out infinite;
}
@keyframes prog2 {
  0%{
       width: 0%;
  }
  60%{
    width: 80%;
  }
  100%{
      width: 80%;
  }  
} .progress__fill3 {
  width: 70%;
  height: 100%;
  background: #ff5047;
  animation: prog3 8s ease-in-out infinite;
}
@keyframes prog3 {
  0%{
       width: 0%;
  }
  60%{
    width: 70%;
  }
  100%{
      width: 70%;
  }  
} 
.progress__fill4 {
  width: 100%;
  height: 100%;
  background: #ff5047;
  animation: prog4 8s ease-in-out infinite;
}
@keyframes prog4 {
  0%{
       width: 0%;
  }
  60%{
    width: 90%;
  }
  100%{
      width: 90%;
  }  
}
  .progress__text {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    font: bold 14px sans-serif;
    color: white;
  }
  .progress_heading{
      font-family: rowdies;
      font-weight: 700;
      font-size: 3vh;
      color: black;

  }
             /*SCROLLS */

             .fixedimgsheading{
              background-color: black;
              height: 17vh;
             }
             #fixed-bg {
              background-image: url("BACKGROUND-3.jpg");
              min-height: 50vh;
              background-attachment: fixed;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
              text-align: center;
            }    

            .fixed-bgtext{
              color: white;
              font-size: 6vh;
              font-family: rowdies;
              padding-top: 10vh;
              margin: auto;
            }

                 #fixed-bg2 {
                  background-image: url("BACKGROUND-4.jpg");
                  min-height: 40vh;
                  background-attachment: fixed;
                  background-position: center;
                  background-repeat: no-repeat;
                  background-size: cover;
                }    

             /*CLIENTS*/
   #clientsheading{
    background-color: white;
      text-align: center;
      color: black;
      font-family: rowdies;
      font-weight: 700;
      position: relative;
  }
  #clientstext{
    padding: 5vh;
    font-size: 5vh;
}
.client{
  display: grid;
  justify-content: center;
  height: 30vh;
  background-color: white;
}
.client1 {
  object-fit: contain;
  height: 22vh;
  width: 100%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
.client1:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  transform: scale(1.3);
  transition: transform .5s
  
}
              /*PROJECTS*/
  #PROJECTS{
    height: 80vh;
    width: 100%;
    background-color: white;
  }
  #projectsheading{
    background-color: white;
      text-align: center;
      color: black;
      font-family: rowdies;
      font-weight: 700;
      position: relative;
  }
  #projectstext{
    padding: 5vh;
    font-size: 5vh;
}
#projectlist{
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 2vw;
  justify-content: center;
    font-size: large;
}


.hoverimg{
  height: 50vh;
  width: 80vw;
  border-radius: 5%;
  box-shadow: 0px 0px 43px 17px rgba(153,153,153,1);
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
}
.hoverimg:hover {
  opacity: 0.5;
  transform: scale(1.05);
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transition: transform .5s

}


.centeredtxt{
  font-family: rowdies;
  font-weight: 700;
  font-size: 30px;
  color: white;
  cursor: pointer;
}



       /*contact form*/




       #contactsheading{
        background-color: white;
          text-align: center;
          color: black;
          font-family: rowdies;
          font-weight: 700;
          position: relative;
      }
      #contactstext{
        padding: 5vh;
        font-size: 5vh;
    }
#contact-form{
  height: 55vh;
  width: 100%;
  margin-left: -4vw;
  text-align: center;
  background-color: white;
  color: #ff5047;
  font-family: rowdies;
  font-weight: 400;
  font-size: 3vh;
  text-align: center;
  margin-top: 5vh;
  padding: 3vw;
}
#contactcenter{
  width: 100%;
  height: 80vh;
  background-color: whitesmoke;
  display: grid;
  justify-content: center;
}
#contactname{
  background-color: transparent;
  border: 0px solid;
  color: gray;
  width: 20vw;
  font-family: rowdies;
  font-weight: 400;
  font-size: 3vh;
  text-align: center;
  outline: none;
  margin-bottom: 5vh;
}
#contactemail{
  background-color: transparent;
  border: 0px solid;
  color: gray;
  width: 20vw;
  font-family: rowdies;
  font-weight: 400;
  font-size: 3vh;
  text-align: center;
  outline: none;
  margin-bottom: 5vh;
}
#submitbutton{
  padding: 1.5vw;
  font-family: rowdies;
  font-weight: 400;
  font-size: 3vh;
  text-align: center;
  background-color: white;
  color: black;
  border: gray solid 3px;
  border-radius: 20%;
}
#submitbutton:hover{
  color: white;
  background-color: #ff5047;
}




              /*back*/

                                        /*about me*/
            .cont{
              display: grid;
              grid-template-columns: auto auto;
              justify-content: center;
              align-items: center;
              height: 80vh;
              column-gap: 5vw;
              
            }
            .aboutmetxt{
              text-align: center;
              height: 50vh;
              width: 15vw;
              padding-left: 1vw;
              padding-right: 1vw;
              background-color: whitesmoke;
              border-radius: 5%;
            }
            .aboutmeimg{
              background-color: whitesmoke;
              height: 50vh;
              width: 25vw;
            }
            #faiz{
              height: 50vh;
              width: 20vw;
              position: relative;
              z-index: 2;
              box-shadow:0px 0px 30px -4px rgb(0 0 0 / 30%);
        
            }
            .rightbox{
              height: 53vh;
              width: 25vw;
              position: absolute;
              left: 56%;
              top: 105vh;
              background-color: black;
            
            }
            #aboutmeh3{
              font-size: 5vh;
              font-family: rowdies;
              padding-top: -15vh ;
              padding-bottom: 5vh;
              color: #ff5047;
            }
            #aboutmep{
              font-size: 2.5vh;
              font-family: ROWDIES;
              color: gray;
            }

                /*fixed img*/


              
                
                #fixed-bg2{
                  display: grid;
                  grid-template-columns: auto auto;
                 
                 
                }
                #bg2-txt{
                  font-size: x-large;
                  color: white;
                  font-family: rowdies;
                  font-weight: 900;
                  padding-top: 20vh;
                  position: relative;
                  animation: bg-txt 5s  infinite;
                  text-align: center;
                  opacity: 1;
           
                                }
                #bg2-img{
                  animation: bg-anim 5s  infinite;
                  position: relative;
                  opacity: 1;
                
                }
                @keyframes bg-anim {
                  from {right: 0;}
                  70%{right: 47vw;}
                  to {right: 47vw;}
                }
                @keyframes bg-txt {
                  from {
                    color: transparent;
                    left: 0;
                  }
                  60% {
                      color: black;
                      left: 45vw;
                    
                  }
                  to {
                    color: white;
                    left: 45vw;
                  }
                }

        /*social media*/
        #bar{
          display: grid;
          grid-template-columns: auto auto auto auto auto;
          justify-content: center;
          column-gap: 3vh;
          height: 12vh;
          width: 100%;
          background-color: black;
          padding-top: 5vh;
        }
        
        .iconimg{
          object-fit: cover;
          background-color: white;
        }
         .iconimg:hover{
           background-color: #ff5047;
         }
         /*footer*/

         .footertext{
           text-align: center;
           font-weight: 900;
           font-family: rowdies;
           font-size: larger;
           color: white;
           background-color: #000000;
           height: 8vh;
         }











































         /*RESPONSIVE MOBILE HEADER*/




        /* media query for entire site*/


        /*menu and body*//*mobiles*/
        @media only screen 
and (min-device-width: 280px) 
and (max-device-width: 667px) {


  /*header and home*/

  #burger{
    display: block;
    margin-top: -91vh;
    cursor: pointer;
    margin-right: 3vw;
  }

  #site-logo{
    height: 15vh;
    width: 20vw;
  }
  .float{
    left: 5vw;
  }

  #nav{
    right: 0px;
    display: grid;
    z-index: 12;
    position: relative;
    height: 92vh;
    top: 8vh;
    background-color: whitesmoke;
    transition: transform 0.5s ease-in;
  }

  #hometext{
    padding-left: 0;
    font-size: 3vh;
    padding-top: 50vh;
  }
  #headerimage{
    margin-top: -22vh;
    height: 80vh;
  }
  #myHeader{
    height: 9vh;
  }
  #site-logo{
    height: 9vh;
  }
  .navlinks{
    transform:translateX(100%) ;
  }
  .newClass{
    transform: translateX(0%);
  }
  .newClass2{
    transform: translateX(100%);
  }


  /*ABOUT ME*/

    #faiz{
    height: 30vh;
    width: 60vw;
    left: 22%;

  }
  .rightbox{
    height: 30vh;
    width: 60vw;
    position: absolute;
    left: 25%;
    top: 105vh;
    background-color: black;
  
  }
  .cont{
    display: grid;
    grid-template-columns: auto;
      margin-top: 10vh;
  }
  .aboutmeimg{
    margin-top: 10vh;
    height: 28vh;
    width: 60vw;
grid-row: 1;
background-color: whitesmoke;
margin-left: 15vw;
  }
  .aboutmetxt{
    grid-row: 2;
    width: 70vw;
    padding-left: 10vw;
    padding-right: 10vw ;
    height: 60vh;
    margin-top: 5vh;
    margin-left: 2vw;
  }


               /*skills*/

               #SKILLS{
              margin-top: 40vh; 
              }
              .skillcenter{
                width: 80vw;
                margin-left: 10vw;
              }
              .progress {
                width: 50vw;
              }

/* projects and clients*/


.client1{
  height: 19vh;
  width: 100%;
}

#projectlist{
  display: grid;
  grid-template-columns: auto;
  margin-bottom: 10vh;
}
.hoverimg{
  height: 30vh;
  width: 90vw;
  margin-bottom: 5vh;
}
#PROJECTS{
  height: 120vh;
  padding-bottom: 20vh;
}

#centered1{
  top: 0%;
  padding-right: 20vw;
}

#centered2{
  position:absolute;
  top: 40%;
  padding-left: 1vw;
}

#centered3{
  top: 65%;
  padding-right: 20vw
}

                 /*conatct me*/
                 
                 #contact-form{

                  height: 45vh;

                 }
                 #contactcenter{

                  height: 60vh;
                 }


/*fixed images*/

#bg2-img{
  height: 70vh;
  width: 100%;
}
#act-img2{
  height: 30vh;
  width: 80vw;
}
#bg2-txt{
  margin-top: 10vh;
  animation: bg-txt 5s  infinite;
}
@keyframes bg-txt {
  from {
    color: transparent;
    left: 0;
  }
  70% {
      color: white;
      left: 25vw;
    
  }
  to {
    color: white;
    left: 25vw;
  }
}

#fixed-bg {
  background-image: url("BACKGROUND-3.jpg");
  min-height: 20vh;
}
.title{
  padding-top: 5vh;
}
.fixed-bgtext{
  padding-top: 3vh;
  font-size: 5vh;
  padding-bottom: 5vh;

}



/*footer*/

}

                   /*tablets and short monitors*/

                   @media only screen 
                   and (min-device-width: 670px)
                   and (max-device-width: 900px) {


                    /*header and home*/

                    #hometext{
                      padding-left: 5vw;
                      font-size: 4vh;
                      padding-top: 70vh;
                    }

                    .desktop-nav{
                      color: white;
                      display: inline-block;
                      position: relative;
                      margin-right: 3vw;
                      font-size: x-large;
                      font-weight: 700;
                      font-family: rowdies;
                    }
                    .float{
                      left: 15vw;
                    }

                       #faiz{
                      width: 35vw;
                    }

                    .rightbox{
                      height: 53vh;
                      width: 35vw;
                      position: absolute;
                      left: 56%;
                      top: 105vh;
                      background-color: black;
                    
                    }

                    .aboutmeimg{
                      width: 35vw;
                    }

                    .aboutmetxt{
                      width: 33vw;
                      height: 55vh;
                    }

                    #site-logo{
                      height: 15vh;
                      width: 12vw;
                      display: block;
                      position: relative;
                      left: 1vw;
                      border: white 2px solid;
                    }
                    #bg2-img{
                      height: 70vh;
                      width: 100%;
                    }
                    #act-img2{
                     height: 50vh;
                     width: 55vw;
                    }
                    #bg2-txt{
                      margin-top: 30vh;
                      animation: bg-txt 5s  infinite;
                      margin-bottom: 5vh;
                    }
                    @keyframes bg-txt {
                      from {
                        color: transparent;
                        left: 0;
                      }
                      70% {
                          color: white;
                          left: 30vw;
                        
                      }
                      to {
                        color: white;
                        left: 30vw;
                      }
                    }
                    #bg2-img{
                      animation: bg-anim 5s  infinite;
                      position: relative;
                    
                    }
                    @keyframes bg-anim {
                      from {right: 0;}
                      70%{right: 25vw;}
                      to {right: 25vw;}
                    }

                    .hoverimg{
                      height: 23vh;
                      width: 30vw;
                    }

                    #PROJECTS{
                      height: 45vh;
                      width: 100%;
                      background-color: white;
                    }

                    #contact-form{

                      height: 45vh;
    
                     }

                    
                     #contactcenter{
    
                      height: 60vh;
                     }
    
                

                   }

                   /*mid monitors*/

                   @media only screen 
                   and (min-device-width: 900px)
                   and (max-device-width: 1024px) 
                    {

                     
                      #hometext{
                        padding-left: 8vw;
                      
                      }
                      #site-logo{
                        height: 15vh;
                        width: 12vw;
                        display: block;
                        position: relative;
                        left: 1vw;
                        border: white 2px solid;
                      }
                      .desktop-nav{
                        font-size: 3.2vh;
                      }

                      .float{
                        top: -20vh;
                        left: 15vw;
                      }


 #faiz{
                        width: 30vw;
                      }

                      
                    .rightbox{
                      height: 54vh;
                      width: 30vw;
                      position: absolute;
                      left: 56%;
                      top: 105vh;
                      background-color: black;
                    
                    }

  
                      .aboutmeimg{
                        width: 30vw;
                      }
  
                      .aboutmetxt{
                        width: 30vw;
                        height: 50vh;
                      }






                

                      .hoverimg{
                        height: 25vh;
                        width: 27vw;
                      }

                      #PROJECTS{
                        height: 65vh;
                        margin-bottom: -10vh;
                      }

                      #bg2-img{
                        height: 70vh;
                        width: 100%;
                      }
                      #act-img2{
                       height: 50vh;
                       width: 55vw;
                      }
                      #bg2-txt{
                        margin-top: 30vh;
                        animation: bg-txt 5s  infinite;
                        margin-bottom: 5vh;
                      }
                      @keyframes bg-txt {
                        from {
                          color: transparent;
                          left: 0;
                        }
                        70% {
                            color: white;
                            left: 30vw;
                          
                        }
                        to {
                          color: white;
                          left: 30vw;
                        }
                      }
                      #bg2-img{
                        animation: bg-anim 5s  infinite;
                        position: relative;
                      
                      }
                      @keyframes bg-anim {
                        from {right: 0;}
                        70%{right: 25vw;}
                        to {right: 25vw;}
                      }
                  }


                  @media only screen 
                  and (min-device-width: 1440px)
                   {

                   

                    #hometext{
                      margin-top: 20vh;
                      padding-left: 15vw;
                    
                    }

                    #site-logo{
                      height: 15vh;
                      width: 12vw;
                      display: block;
                      position: relative;
                      left: 3vw;
                      border: white 2px solid;
                    }
                    .desktop-nav{
                      font-size: 3.2vh;
                    }

                    #contact-form{

                      height: 45vh;
    
                     }
                     #contactcenter{
    
                      height: 65vh;
                     }


                    

                    #faiz{
                      width: 25vw;
                    }

                    .aboutmeimg{
                      width: 25vw;
                    }

                    .aboutmetxt{
                      width: 25vw;
                      height: 50vh;
                    }


                    .hoverimg{
                      height: 30vh;
                      width: 28vw;
                    }

                    #PROJECTS{
                      height: 65vh;
                    }

                    @keyframes bg-anim {
                      from {right: 0;}
                      70%{right: 52vw;}
                      to {right: 52vw;}
                    }
                }

                   }


                   @media only screen 
                   and (min-device-width: 2560px)
                    {

                      #hometext{
                        margin-top: 10vh;
                      
                      }
                      #site-logo{
                        height: 15vh;
                        width: 10vw;
                        display: block;
                        position: relative;
                        left: 3vw;
                        border: white 2px solid;
                      }
                     

                      .desktop-nav{
                        font-size: 4vh;
                      }
                     
                     
                      #act-img2{
                        height: 40vh;
                        width: 40vw;
                      }
                      #bg2-txt{
                        font-size: 2.5vh;
                        animation: bg-txt 5s  infinite;
                      }
                      @keyframes bg-txt {
                        from {
                          color: transparent;
                          left: 0;
                        }
                        70% {
                            color: white;
                            left: 50vw;
                          
                        }
                        to {
                          color: white;
                          left: 50vw;
                        }
                      }

                      @keyframes bg-anim {
                        from {right: 0;}
                        70%{right: 47vw;}
                        to {right: 47vw;}
                      }




                      #contactname{
                        font-size: 3vh;
                      }

                      #contact-form{
                        font-size: 3.3vh;
                      }

                      
                      #contactemail{
                        font-size: 3vh;
                      }
                      
                    #submitbutton{
                      font-size: 3vh;
                    }

                    .footertext{
                      font-size: 3vh;
                    }
                    


                    .iconimg{
                      height: 70%;

                      background-color: white;
                    }

                    }





                
